{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"remove","lines":[".c9/",""],"id":2},{"start":{"row":0,"column":0},"end":{"row":4,"column":6},"action":"insert","lines":["*.sqlite3","*.pyc",".~c9","__pycahce__/","env.py"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":6},"end":{"row":4,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":74,"mode":"ace/mode/ini"}},"timestamp":1574280369595,"hash":"f7c4e86b97b1470d9a2d89132228fe7c08c314ab"}